<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calci in swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F2A506A1CC8E3D200B8CCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2A507E1CC8E3D200B8CCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2A50891CC8E3D200B8CCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
